--
-- PostgreSQL database dump
--

\restrict oQKNg0IFzegw4PkjmoMtvk5MLnMWrw0pCffcMWrvoMRHfCETc9RrKFs4jQIY9EB

-- Dumped from database version 18.6 (Debian 18.6-1.pgdg13+2)
-- Dumped by pg_dump version 18.6 (Debian 18.6-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: account_quota_windows; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.account_quota_windows (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    upstream_identity_id uuid NOT NULL,
    quota_key text NOT NULL,
    window_kind text NOT NULL,
    window_minutes integer NOT NULL,
    active_limit bigint,
    credits bigint,
    reset_at timestamp with time zone,
    used_percent numeric(6,3),
    display_label text,
    limit_name text,
    metered_feature text,
    source text NOT NULL,
    source_precision text DEFAULT 'observed'::text NOT NULL,
    quota_scope text DEFAULT 'account'::text NOT NULL,
    quota_family text DEFAULT 'account'::text NOT NULL,
    model text,
    upstream_model text,
    raw_limit_id text,
    raw_limit_name text,
    raw_metered_feature text,
    freshness_state text NOT NULL,
    last_sync_at timestamp with time zone NOT NULL,
    observed_at timestamp with time zone DEFAULT now() NOT NULL,
    merge_precedence integer DEFAULT 0 NOT NULL,
    metadata jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT account_quota_windows_active_limit_check CHECK (((active_limit IS NULL) OR (active_limit >= 0))),
    CONSTRAINT account_quota_windows_credits_check CHECK (((credits IS NULL) OR (credits >= 0))),
    CONSTRAINT account_quota_windows_freshness_state_check CHECK ((freshness_state = ANY (ARRAY['fresh'::text, 'stale'::text, 'unknown'::text]))),
    CONSTRAINT account_quota_windows_quota_family_check CHECK ((length(btrim(quota_family)) > 0)),
    CONSTRAINT account_quota_windows_quota_key_check CHECK ((length(btrim(quota_key)) > 0)),
    CONSTRAINT account_quota_windows_quota_scope_check CHECK ((quota_scope = ANY (ARRAY['account'::text, 'model'::text, 'upstream_model'::text, 'feature'::text]))),
    CONSTRAINT account_quota_windows_source_check CHECK ((length(btrim(source)) > 0)),
    CONSTRAINT account_quota_windows_source_precision_check CHECK ((source_precision = ANY (ARRAY['authoritative'::text, 'observed'::text, 'inferred'::text, 'unknown'::text]))),
    CONSTRAINT account_quota_windows_used_percent_check CHECK (((used_percent IS NULL) OR ((used_percent >= (0)::numeric) AND (used_percent <= (100)::numeric)))),
    CONSTRAINT account_quota_windows_window_kind_check CHECK ((window_kind = ANY (ARRAY['primary'::text, 'secondary'::text]))),
    CONSTRAINT account_quota_windows_window_minutes_check CHECK ((window_minutes > 0))
);


ALTER TABLE public.account_quota_windows OWNER TO postgres;

--
-- Data for Name: account_quota_windows; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: account_quota_windows account_quota_windows_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_quota_windows
    ADD CONSTRAINT account_quota_windows_pkey PRIMARY KEY (id);


--
-- Name: account_quota_windows_evidence_identity_uq; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX account_quota_windows_evidence_identity_uq ON public.account_quota_windows USING btree (upstream_identity_id, quota_scope, quota_family, COALESCE(lower(model), ''::text), COALESCE(lower(upstream_model), ''::text), quota_key, window_kind, window_minutes, source, COALESCE(raw_limit_id, ''::text), COALESCE(raw_limit_name, ''::text), COALESCE(raw_metered_feature, ''::text));


--
-- Name: account_quota_windows_freshness_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX account_quota_windows_freshness_idx ON public.account_quota_windows USING btree (window_kind, freshness_state, last_sync_at DESC);


--
-- Name: account_quota_windows_identity_sync_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX account_quota_windows_identity_sync_idx ON public.account_quota_windows USING btree (upstream_identity_id, last_sync_at DESC);


--
-- Name: account_quota_windows_merge_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX account_quota_windows_merge_idx ON public.account_quota_windows USING btree (upstream_identity_id, quota_scope, quota_family, quota_key, window_kind, merge_precedence DESC, observed_at DESC);


--
-- Name: account_quota_windows_quota_freshness_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX account_quota_windows_quota_freshness_idx ON public.account_quota_windows USING btree (quota_key, freshness_state, last_sync_at DESC);


--
-- Name: account_quota_windows account_quota_windows_upstream_identity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_quota_windows
    ADD CONSTRAINT account_quota_windows_upstream_identity_id_fkey FOREIGN KEY (upstream_identity_id) REFERENCES public.upstream_identities(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict oQKNg0IFzegw4PkjmoMtvk5MLnMWrw0pCffcMWrvoMRHfCETc9RrKFs4jQIY9EB

